body{
    background-color: #c5ccd6;
    font-family: 'Wendy One', sans-serif;
}
#container,#play-area{
    width:680px;
    height:600px;
    position: relative;
    margin:0 auto;
    
    

}
#play-area{
    opacity:0;
    z-index: 300;
    
}


#start{
    width:200px;
    height:50px;
    background-color: #516c96;
    border-radius:20px;
    position: absolute;
    top:50%;
    left:50%;
    text-align:center;
    margin:-100px;
    font-size:40px;
    cursor:pointer;
    z-index:500;
    color:#8dabd9;
}

#difficulty{
    display:none;
    width:680px;
    height:600px;
    position: relative;
    top:25%;
    left:25%;
    margin:0 auto;
    z-index:400;
    font-size:40px;
    

}
#choose-level{
    width:600px;
    height:40px;
}
#easy,#intermediate,#hard{
    width:200px;
    height:40px;
    background-color: #516c96;
    color:#8dabd9;
    border-radius:20px;
    position: absolute;
    text-align:center;
    margin-left:100px;
    
    font-size:30px;
    cursor:pointer;
    
    /* color:#8dabd9; */

}

#game-over{
    display:none;
    width:400px;
    height:50px;
    position: absolute;
    top:50%;
    left:50%;
    text-align:center;
    margin:-200px;
    font-size:40px;

    z-index:600;
}
#board{
    width:680px;
    height:600px;
    background-color:yellowgreen;
    
    

}

#board-upper{
    width:680px;
    height:600px;
    position:absolute;
    top:0px;
    left:0px;
    
    z-index:100;
}

#fruity-board{
    width:680px;
    height:600px;
    position:absolute;
    top:0px;
    left:0px;
    
    z-index:200;
}





/* 
#snake div{
    width:10px;
    height:10px;
    background-color:blue;
    margin:0 auto;
    border:1px solid black;
    
    
} */